@using EntityLayer.Concrete
@model List<Message>
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@{
    DateTime sDate;
    DateTime eDate;
    TimeSpan result = new TimeSpan();
}
@{
    string readMessageStatus = "";
    string btnTitle = "";
}

<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <div class="container-fluid">

        <div class="content ">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Mesaj Sayfası</h1>
                        </div>

                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    @Html.Action("MessageListMenu", "WriterPanelMessage")
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Gelen Mesajlar</h3>

                                <div class="card-tools">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="Mail Ara">
                                        <div class="input-group-append">
                                            <div class="btn btn-primary">
                                                <i class="fas fa-search"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            @using (Html.BeginForm("DeleteStatusUpdate", "WriterPanelMessage", FormMethod.Post))
                            {
                                <div class="card-body p-0">
                                    <div class="mailbox-controls">
                                        <!-- Check all button -->

                                        <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                                            <i class="far fa-square"></i>
                                        </button>
                                        <div class="btn-group">
                                            <button type="submit" id="trash" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
                                            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-reply"></i></button>
                                            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i></button>
                                        </div>
                                        <!-- /.btn-group -->
                                        <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
                                        <div class="float-right">
                                            1-50/200
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>
                                                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>
                                            </div>
                                            <!-- /.btn-group -->
                                        </div>
                                        <!-- /.float-right -->
                                    </div>
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table table-hover table-striped">
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    sDate = Convert.ToDateTime(@item.MessageDate.ToString("dd-MM-yyy"));
                                                    eDate = Convert.ToDateTime(DateTime.Now.ToString("dd-MM-yyy"));
                                                    result = eDate - sDate;
                                                    if (item.ReadMessage == false)
                                                    {
                                                        readMessageStatus = "fas fa-envelope";
                                                        btnTitle = "Okundu Olarak İşaretle";
                                                    }
                                                    else
                                                    {
                                                        readMessageStatus = "fas fa-envelope-open-text";

                                                    }
                                                    <tr>
                                                        <td>
                                                            <div class="icheck-primary">
                                                                <input type="checkbox" name="Id" value="@item.Id" id="check15">
                                                                <label for="check15"></label>
                                                            </div>

                                                        </td>
                                                        <td> <a title="@btnTitle" href="/WriterPanelMessage/ReadingMessage/@item.Id"><i class="@readMessageStatus"></i></a></td>
                                                        @*  <td class="mailbox-star"><a id="reading" href="#"><i class="fas fa-star text-warning "></i></a></td>*@
                                                        <td class="mailbox-name"> <a id="reading" href="/WriterPanelMessage/GetInboxMessageDetaiLs/@item.Id"> <link href="/WriterPanelMessage/ReadingMessage/@item.Id" rel="stylesheet" />   @item.SenderMail</a></td>
                                                        <td class="mailbox-subject">
                                                            <b>@item.Subject</b> - @item.MessageContent.Substring(0, 10) ...
                                                        </td>
                                                        <td class="mailbox-attachment"><i class="fas fa-paperclip"></i></td>
                                                        <td class="mailbox-date">@result.TotalDays Gün Önce</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                        <!-- /.table -->
                                    </div>
                                    <!-- /.mail-box-messages -->
                                </div>
                                <!-- /.card-body -->
                            }
                            </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>


    </div>

   

    <script>
        $(function () {
            //Enable check and uncheck all functionality
            $('.checkbox-toggle').click(function () {
                var clicks = $(this).data('clicks')
                if (clicks) {
                    //Uncheck all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
                    $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
                } else {
                    //Check all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
                    $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
                }
                $(this).data('clicks', !clicks)
            })

            //Handle starring for glyphicon and font awesome
            $('.mailbox-star').click(function (e) {
                e.preventDefault()
                //detect type
                var $this = $(this).find('a > i')
                var glyph = $this.hasClass('glyphicon')
                var fa = $this.hasClass('fa')

                //Switch states
                if (glyph) {
                    $this.toggleClass('glyphicon-star')
                    $this.toggleClass('glyphicon-star-empty')
                }

                if (fa) {
                    $this.toggleClass('fa-star')
                    $this.toggleClass('fa-star-o')
                }
            })
        })</script>


</body>
</html>

