@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "NewHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}



<div class="container">
    <div class="row d-flex justify-content-around">
        <div role="form" class="col-md-6 ">
            @using (Html.BeginForm("NewHeading", "WriterPanel", FormMethod.Post))
            {
                <br />
                <div class="form-group">

                    @Html.Label("Başlık Adı");
                    @Html.TextBoxFor(h => h.HeadingName, new { @class = "form-control", @minlength = "1" })
                    @Html.ValidationMessageFor(w => w.HeadingName, null, new { @class = "text-danger", @required = "" })
                </div>
                <br />
                @Html.Label("Kategorisi");
                @Html.DropDownListFor(c => c.CategoryId, (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control" })
                @Html.ValidationMessageFor(w => w.CategoryId, "", new { @class = "text-danger" })
                <br />

                <div class="col-md-12 d-flex justify-content-between">
                    <button style="margin-bottom:10px" class="btn btn-info">Başlık Ekle</button>
                    <a href="/WriterPanel/MyHeading" style="margin-bottom:10px" class="btn bg-indigo  "><i class="fas fa-backward"></i>  Geri Dön</a>

                </div>
            }
        </div>
    </div>
</div>

